<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <!--navbar-->
    <%- include('../partials/nav', { active: 'addRecipes' }) %>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-8">
                <h1 class="hft-sb-title display-5">Rezept hinzufügen</h1>
            </div>
        </div>

        <style>
            .tabbox {
                width: 200px;
            }
        </style>
        <style>
            .label {
                display: block;
                width: 200px;
            
            }
        </style>
        <!--vertical-align: middle-->


        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-8">
                <form id="hft-shoutbox-form" method="post" action="/add-entry">
                    <div class="form-group">
                        <label for="kategorien" class="label">Kategorie</label>
                        <form id="kategorien">
                            <input type="checkbox" id="hauptgericht">
                            <label for="hauptgericht">Hauptgeschichte</label><br>
                            <input type="checkbox" id="snacks">
                            <label for="snacks">Snacks</label><br>
                            <input type="checkbox" id="suesses">
                            <label for="suesses">Suesses</label><br>
                            <input type="checkbox" id="vegetarisch">
                            <label for="vegetarisch">Vegeratisch</label><br>
                            <input type="checkbox" id="gemischt">
                            <label for="gemischt">Gemischt</label><br>
                        </form>
                    </div>
                    <div class="form-group">
                        <label for="titel-input" class="label" widh="200px">Titel</label>
                        <input type="text" name="titel" class="tabbox" id="titel-input"
                            placeholder="Oma's Marmelade ;-)"></tab>
                    </div>
                    <div class="form-group">
                        <label for="textarea-zutaten" class="label">Zutaten</label>
                        <textarea class="tabbox" name="zutaten" id="textarea-zutaten" rows="4"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="zubereitung-textarea" class="label">Zubereitung</label>
                        <textarea type="text" name="zubereitung" class="tabbox" id="textarea-zubereitung"
                            rows="8"></textarea>
                    </div>

                    <button id="hft-shoutbox-form-submit" type="submit" class="btn btn-primary">Speichern</button>
                </form>
            </div>
        </div>
    </div>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>